{% extends "layout.html" %}

{% block title %}
  Training
{% endblock %}

{% block main %}
    {% for card in cards %}
      <div class="container d-flex justify-content-center align-items-center my-3">
        <div class="card w-50 mx-1 align-items-center justify-content-center" style="background-color: bisque; min-height: 120px;">
            <div>
                {{ card.question }} 
            </div>
            <div>
                {{ card.answer }}
            </div>
        </div>
        <div>
          <a class="btn btn-primary" href="/delete/{{ card.id }}">Delete</a>
          <a class="btn btn-primary" href="/edit/{{ card.id }}">Edit</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}