{% extends "layout.html" %}

{% block title %}
  Edit Kard
{% endblock %}

{% block main %}
    <p style="text-align: center;">Current Kard</p>
    <div class="container d-flex justify-content-center align-items-center mb-3">
        <div class="card w-50 mx-1 align-items-center justify-content-center" style="background-color: bisque; min-height: 120px;">
            <div>
                {{ card.question }} 
            </div>
            <div>
                {{ card.answer }}
            </div>
        </div>
    </div>
    <p style="text-align: center;">New Kard</p>
    <div>
      <form action="/edit/{{ card.id }}" method="post">
        <div class="mb-3">
          <input id="question" name="question" class="form-control mx-auto w-auto" type="text" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <input id="answer" name="answer" class="form-control mx-auto w-auto" type="text" placeholder="Answer" required>
        </div>
        <div style="text-align: center">
          <button class="btn btn-primary" type="submit">Edit Kard</button>
        </div>
      </form>
    </div>
{% endblock %}