<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Memory Kards</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/train">Train</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Edit</a>
              </li>
            </ul>
        </div>
    </nav>
    <h1 class="text-center my-3">Welcome to Memory Kards!</h1>
    <div class="text-center">
        <div>136 Kards Available</div>
        <div>12 Collections Created</div>
        <div>54% of last 100 Kards were marked correctly</div>
    </div>
</body>
</html>